.App {
  text-align: center;
  background-color: #222427;
}

.Title {
  background-color: #222427;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
}

.Listing {
  background-color: #222427;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
}

#name {
  width: 600px;
  height: 80px;
}

#name::placeholder {
  font-size: 50px; 
}

#category_id {
  width: 300px;
  height: 80px;
}

#category_id::placeholder {
  font-size: 50px; 
}

#image {
  width: 100%;
  height: 80px
  
}

#image::placeholder {
  font-size: 50px; 
}

.ItemList {
  background-color: #15142c;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
  padding: 0%;
}

.ItemList img{
  width:100%;
}

.ItemLists {
  display: grid;
  grid-template-columns: 30% 30%;
  grid-gap: 200px;
  justify-content: center;
  padding-top: 200px;
  background-image: url('../background.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
